<h1 class="text-3xl font-bold font-MontserratAlternates mt-10">
  Todos los productos
</h1>
<h2 class="text-xl mb-10">Para todos los gustos</h2>

<div
  class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-3 mt-2"
>
  @if(productsResource.isLoading()) {
  <span class="loading loading-spinner loading-xl"></span>
  }
  <!-- --- -->
  @else {
  <!-- --- -->
  @for (product of productsResource.value()?.products; track $index) {
  <product-card [product]="product" />
  }

  <!-- Empty -->
  @empty {
  <p>No hay productos</p>
  } }
</div>

<app-pagination
  class="mt-10"
  [pages]="productsResource.value()?.pages ?? 0"
  [currentPage]="paginationService.currentPage()"
/>
