<h1 class="text-2xl font-bold">{{ product().title }}</h1>
<div class="divider"></div>

<form
  [formGroup]="productForm"
  class="grid grid-cols-1 sm:grid-cols-2 gap-4"
  (ngSubmit)="onSubmit()"
>
  <!-- Datos generales -->
  <div class="flex flex-col gap-2">
    <h2 class="text-2xl font-bold h-12">Datos generales</h2>
    <input
      type="text"
      placeholder="Título"
      class="input input-bordered w-full"
      formControlName="title"
      [class.border-red-500]="productForm.get('title')?.errors ?? false"
    />
    <form-error-label [control]="productForm.get('title')!" />

    <input
      type="text"
      placeholder="Slug"
      class="input input-bordered w-full"
      formControlName="slug"
      [class.border-red-500]="productForm.get('slug')?.errors ?? false"
    />
    <form-error-label [control]="productForm.get('slug')!" />

    <textarea
      class="textarea textarea-bordered w-full"
      placeholder="Descripción"
      rows="7"
      formControlName="description"
      [class.border-red-500]="productForm.get('description')?.errors ?? false"
    ></textarea>
    <form-error-label [control]="productForm.get('description')!" />

    <div class="grid grid-cols-1 sm:grid-cols-2 gap-2">
      <div>
        <h3 class="text-sm font-bold">Precio</h3>
        <input
          type="number"
          placeholder="Precio"
          class="input input-bordered w-full"
          formControlName="price"
          [class.border-red-500]="productForm.get('price')?.errors ?? false"
        />
        <form-error-label [control]="productForm.get('price')!" />
      </div>
      <div>
        <h3 class="text-sm font-bold">Stock</h3>
        <input
          type="number"
          placeholder="Inventario"
          class="input input-bordered w-full"
          formControlName="stock"
          [class.border-red-500]="productForm.get('stock')?.errors ?? false"
        />
        <form-error-label [control]="productForm.get('stock')!" />
      </div>
    </div>

    <!-- tags -->
    <h3 class="text-sm font-bold">Tags</h3>

    <input
      type="text"
      placeholder="Tags"
      class="input input-bordered w-full"
      formControlName="tags"
    />

    <!-- Botones para el género -->
    <h3 class="text-sm font-bold">Gender</h3>
    <div class="grid grid-cols-4 gap-2">
      <!-- <button class="btn btn-sm btn-outline">Masculino</button> -->
      <button
        type="button"
        [class.btn-primary]="productForm.value.gender === 'men'"
        (click)="productForm.patchValue({ gender: 'men' })"
        class="btn btn-sm"
      >
        Masculino
      </button>
      <button
        type="button"
        [class.btn-accent]="productForm.value.gender === 'women'"
        (click)="productForm.patchValue({ gender: 'women' })"
        class="btn btn-sm"
      >
        Femenino
      </button>
      <button
        type="button"
        [class.btn-warning]="productForm.value.gender === 'kid'"
        (click)="productForm.patchValue({ gender: 'kid' })"
        class="btn btn-sm"
      >
        Kid
      </button>
      <button
        type="button"
        [class.btn-secondary]="productForm.value.gender === 'unisex'"
        (click)="productForm.patchValue({ gender: 'unisex' })"
        class="btn btn-sm"
      >
        Unisex
      </button>
    </div>

    <!-- <select class="select select-bordered w-full">
      <option value="male">Masculino</option>
      <option value="female">Femenino</option>
      <option value="unisex">Unisex</option>
    </select> -->

    <!-- Sizes -->
    <h3 class="text-sm font-bold">Size</h3>

    <div class="grid grid-cols-6 gap-2">
      @for (size of sizes; track size) {
      <button
        type="button"
        class="btn btn-sm"
        (click)="onSizeChange(size)"
        [class.btn-secondary]="productForm.value.sizes?.includes(size)"
      >
        {{ size }}
      </button>
      }
    </div>
  </div>

  <!-- Imágenes -->
  <div class="flex flex-col gap-2">
    <div class="flex justify-end h-12">
      <button class="btn btn-secondary" type="submit">
        <!-- <span class="loading loading-spinner loading-sm"></span> -->

        Guardar
      </button>
    </div>

    <!-- <product-carousel [images]="product().images" /> -->
    <product-carousel [images]="imagesToCarousel()" />

    <input
      type="file"
      multiple
      accept="image/*"
      class="file-input file-input-bordered w-full mt-4"
      (change)="onFilesChanged($event)"
    />

    <div class="grid grid-cols-2 sm:grid-cols-4 gap-2 mt-2">
      @for (image of tempImages(); track image) {
      <img [src]="image" alt="Temporal image" class="w-full h-32 object-cover" />
      }
    </div>
  </div>
</form>

@if(wasSaved()) {
<div class="alert alert-success fixed bottom-4 right-4 w-80 animate-fadeIn">
  <span>Datos actualizados correctamente</span>
</div>
}
